#projects{
    margin-top: -270px;
}
    
#filter{
    width: 100%;
}

.wrap-projects{
    display: flex;
    width: 100%;
    margin-top: 2em;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    #projects{
        margin-top: 0;
    }
}