#projects{
    --primary25: 
}
    
#filter{
    width: 100%;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
}

.wrap-projects{
    display: flex;
    width: 100%;
    /* margin-top: 2em; */
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select__control, .select__menu{
    background-color: var(--bg-light-strong) !important;
    color: var(--text-color) !important;
    min-width: 300px;
}

.select__option:hover{
    background-color: var(--primary-transparency) !important;
    background: var(--primary-transparency) !important;
}

.select__option--is--focused{
    background-color: var(--primary) !important;
    background: var(--primary) !important;
}

.select__option--is--selected, .select__option--is--active{
    background-color: var(--tag-color) !important;
    background: var(--tag-color) !important;    
}

.select__single-value, .select__input, .select__input::placeholder{
    color: var(--text-color) !important;
}

.select__control--is-focused{
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 1px var(--primary) !important;
}

.select__multi-value{
    background-color: var(--tag-color) !important ;
    border-radius: 15px !important;
    /* padding: 0 5px; */
}

.select__multi-value__label {
    color: var(--text-color) !important;
}

.select__multi-value__remove{
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
} 

@media screen and (max-width: 1200px) {
    #projects{
        margin-top: 0;
    }
}