.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    color: var(--text-color);
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .timeline {
        flex-direction: column;
        margin: 2rem 0;
    }
}