@import '../base';

nav {
    margin: 0 $big $small $big;
    padding-top: $small;
    font-family: 'Nunito';

    div{
        display: flex;
        justify-content: center;

        a{ 
            padding: 0 $smaller;
            color: $white !important;
            transition: 0.5s;

            &:hover{
                color: $highlight !important;
            }
        }
    }
}

a{
    text-decoration: none;
}