@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&family=Patua+One&display=swap');

//Margins and paddings
$smaller: 1.5rem;
$small: 2rem;
$normal: 4rem;
$big: 6rem;

//Font sizes
$font_small: 1rem;
$font_medium: 1.3rem;
$font_big: 2rem;
$font_super: 2.5rem;

//Colors
$white: #fff;
$highlight: #8f47d1;

//Animation