#skills{
  display: flex;
  flex-wrap: wrap;
  column-gap: 3em;
}

#skills h2{
  width: 100%;
  margin-bottom: 1em;
}

.card-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "dev-web dev-web arq-frontend dev-mobile"
    "ux-ui colab-comunicacao test-quality test-quality";
  gap: 1.5rem;
  align-content: center;
  justify-content: center;
}

.skill-card {
  padding: 1.5rem;
  border: solid 2px var(--secondary);
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  min-width: 0;
}

.skill-card p{
  margin: 0;
}

.skill-card-title {
  font-size: 1.4rem;
  margin: 0;
  font-weight: 700;
}

.skills-icons {
  display: flex;
  width: max-content;
  overflow: hidden;
  gap: 1.5rem;
  animation: scroll-x 40s linear infinite;
}

.skill-tag {
  background: var(--tertiary);
  color: var(--primary);
  font-size: 1.125rem;
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: 500;
  position: relative;
}

.skill-tag::before {
  content: "•";
  position: absolute;
  left: -.75rem;
  transform: translateX(-50%);
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}