.card{
    background: #fff;
    padding: 1.3em;
    box-sizing: border-box;
    border-radius: 5px;
    transition: .5s;
    border: solid 1px transparent;
    cursor: pointer;
    background: var(--bg-light-strong);
    border: 1px solid transparent;
}

.card:hover{
    border: solid 1px var(--border-color);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.wrap-img-card{
    width: 100%;
    aspect-ratio: 1 / .7;
    height: auto;
    overflow: hidden;
    background-color: var(--bg-wrap-img-card);
}

.wrap-img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
    object-position: top;
}

.card:hover .wrap-img-card img{
    transform: scale(1.1);
}

.card h3{
    margin: .5em 0;
}

.card p{
    margin: 0;
}

.card .tags{
    margin: 1em 0;
}

.card .tag{
    padding: 5px 10px;
}

.card-footer{
    transition: .3s;
    overflow: hidden;
    height: 2.6em;
    line-height: 1.3em;
}

.card-footer span{
    display: inline-block;
    transition: .3s;
    height: 2.6em;
}

.card .subtitle{
    display: block;
}

.card:hover .subtitle, .card:hover .saiba-mais{
    transform: translateY(-2.3em);
}

.card:hover .subtitle{
    color: var(--bg-light-strong);
}

@media screen and (max-width: 768px) {
    .card{
        width: 110%;
    }

    .card .tags .tag:nth-child(3){
        display: none;
    }

    .card .saiba-mais{
        font-size: .9em;
    }

    .card .saiba-mais, .card .subtitle{
        transform: translateY(-2.3em);
    }

    .card .subtitle{
        opacity: 0;
    }

    .card-footer{
        transition: .3s;
        overflow: hidden;
        height: 2.5em;
        line-height: 1.3em;
    }
    
    .card-footer span{
        display: inline-block;
        transition: .3s;
        height: 2.5em;
    }
}