.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.5em 3em;
    align-items: center;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}

.navbar h1{
    margin: 0
}

.navbar ul{
    display: flex;
    gap: 25px;
    margin: 0;
    box-sizing: border-box;
}

.navbar ul li{
    list-style: none;
}