header {
    position: fixed;
    background: #fff;
    z-index: 3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 10em;
    align-items: center;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    width: 100vw;
    box-sizing: border-box;
    z-index: 2;
    color: #292929;
    position: relative;
}

.navbar h1 {
    margin: 0
}

.hamburguer {
    width: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.hamburguer span {
    display: inline-block;
    width: 100%;
    height: 2.5px;
    background: #444;
    border-radius: 3px;
}

.hamburguer span:nth-child(2) {
    width: 85%;
    margin-left: auto;
}

.hamburguer.close span:nth-child(1) {
    animation: close-left .3s ease-in-out forwards;
}

.hamburguer.close span:nth-child(2) {
    animation: close-right .3s ease-in-out forwards;
}

.hamburguer.open span:nth-child(1) {
    animation: close-left-back .3s ease-in-out forwards;
}

.hamburguer.open span:nth-child(2) {
    animation: close-right-back .3s ease-in-out forwards;
}

.code,
.code * {
    font-family: 'Source Code Pro', sans-serif;
    letter-spacing: .2em;
    color: #292929;
    text-transform: lowercase;
}

.code::before {
    content: '\3c';
}

.code::after {
    content: '\3e';
}

.autoclose::after {
    content: '/\3e';
}

.code::before,
.code::after {
    color: var(--primary);
    font-weight: bold;
}

h2.code {
    font-size: 2.3em;
    margin-bottom: 1.5em;
    width: 100%;
    position: relative;
    left: -2em;
    display: block;
}

.code.close {
    text-align: end;
    opacity: .3;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    left: 2em;
}

.code.close::before {
    content: '\3c/';
}

@keyframes close-left {
    from {
        width: 100%;
        transform: rotate(0deg) translate(0, 0);
    }

    to {
        width: 85%;
        transform: rotate(45deg) translate(8px, 5px);
    }
}

@keyframes close-right {
    from {
        width: 100%;
        transform: rotate(0deg) translate(0, 0);
    }

    to {
        width: 85%;
        transform: rotate(-45deg) translate(0px, -5px);
    }
}

@keyframes close-left-back {
    from {
        transform: rotate(45deg) translate(8px, 5px);
    }

    to {
        transform: rotate(0deg) translate(0, 0);
    }
}

@keyframes close-right-back {

    from {
        transform: rotate(-45deg) translate(0px, -5px);
    }

    to {
        transform: rotate(0deg) translate(0, 0);
    }
}

.navbar ul.closed {
    position: absolute;
    animation: disappear .5s forwards ease;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    background-color: #fff;
    padding: 2.5em;
    box-shadow: var(--box-shadow);
    opacity: 0;
    animation: fade-up .5s forwards ease;
    z-index: 2;
    right: 10em;
}

@keyframes disappear {
    from {
        opacity: 1;
        transform: translateY(0%);
    }

    to {
        opacity: 0;
        transform: translateY(30%);
        z-index: -3;
    }
}

.navbar ul li {
    list-style: none;
}

.menu-wrapper {
    display: flex;
    gap: 2em;
}

[role="button"] {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .navbar {
        padding: 1.5em 5em;
    }

    .navbar ul {
        right: 5em;
    }
}

@media screen and (max-width: 768px) {
    .navbar ul {
        width: 100vw;
        left: 0;
        gap: 15px;
    }
}