iframe, .img-project{
  width: 100%;
  aspect-ratio: 1 / .6;
  height: auto;
  border: 0;
}

.modal_content a:not(.btn){
  font-weight: bold;
  color: var(--primary-stronger);
  opacity: .9;
  transition: .3s;
  text-decoration: underline;
}

.figma-icon{
  width: 1em;
}

.modal_content a:hover{
  opacity: 1;
}

.involved a{
  text-decoration: none !important;
}

.involved strong{
  display: block;
  margin-bottom: .5em;
}

#modal .subtitle{
  font-weight: bold;
  font-size: 1.1em;
}

.wrap-img-iframe{
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 1 / .6;
  height: auto;
}

.wrap-img-iframe img{
  object-fit: cover;
  border-radius: 5px;
  height: 100%;
}

.wrap-play-icon{
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  top: calc(50% - 1.5em);
  left: calc(50% - 1.5em );
  background-color: var(--primary);
  border-radius: 50%;
  padding: .5em;
}

.play-icon{
  color: #fff;
  font-size: 2.5em;
}

@media screen and (max-width: 768px){
  iframe{
      aspect-ratio: 1 / .7;
  }
}