.skill{
    width: calc(100% / 7 - 2.5em);
    text-align: center;
    border: solid 2px var(--border-color);
    padding:  1em .8em;
    border-radius: 3px;
    cursor: pointer;
    transition: .4s;
    background: var(--bg-light-strong);
    opacity: 0;
    animation: show .7s forwards ease;
    filter: grayscale(70%) opacity(.75);
}

.skill.selected, .skill:hover{
    filter: none;
    border: solid 2px var(--primary);
    box-shadow: var(--shadow-secondary);
}

.skill:not(.selected):hover{
    border: solid 2px var(--primary-transparency);
}

.wrap-skills.hab-see-less .skill:nth-child(n+15){
    animation: hide .7s forwards ease;
}

.skill p{
    margin-bottom: 0;
    font-size: .7em;
}

.wrap-img-hab{
    width: 70%;
    aspect-ratio: 1;
    height: auto;
    display: flex;
    margin: auto;
}

.wrap-img-hab img{
    width: 100%;
    margin: auto;
    max-height: 100%;
    object-fit: contain;
}

.wrap-percentage{
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--primary-transparency);
    margin-top: .8em;
    position: relative;
    /* overflow-x: hidden; */
    overflow-y: visible;
}

.percentage{ 
    position: absolute;
    display: inline-block;
    height: 5px;
    left: 0;
    top: 0;
    border-radius: 5px;
    background: var(--primary);
    /* animation: percentage 2s ease; */
}

.value-percentage{
    content: attr(percentage); 
    position: absolute;
    top: 8px;
    right: -25px;
    font-size: .8em;
    background: var(--primary-transparency);
    padding: 0 5px;
    color: var(--bg-light);
    border-radius: 3px;
    opacity: 0;
}

.skill.selected .value-percentage, .skill:hover .value-percentage{
    animation: showUp .7s forwards ease;
}

@keyframes percentage {
    from{
        transform: translateX(-100%);
    }

    to{
        transform: translateX(0%);
    }
}

@keyframes showUp {
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
    }
}

@keyframes show {
    from{
        transform: translateX(-50%);
    }
    to{
        opacity: 1;
    }
}

@keyframes hide {
    from{
        opacity: 1;
        transform: translateX(0%);
    }
    to{
        transform: translateX(-50%);
        opacity: 0;
        height: 0;
        padding: 0;
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    .skill{
        width: calc(100% / 3 - .5em);
        /* padding: .5em; */
        font-size: .8em;
        box-sizing: border-box;
    }

    .wrap-skills{
        gap: .5em !important;
    }

    .wrap-skills.hab-see-less .skill:nth-child(n+7){
        animation: hide .7s forwards ease;
    }
}