@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;800;900&family=Source+Code+Pro&display=swap');

:root {
  --bg-light: #F3F4F7;
  --primary: rgb(149, 49, 244);
  --primary-transparency: rgba(150, 49, 244, 0.466);
  --box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
  --shadow-secondary: 0px 0px 5px 1px rgba(202, 146, 255, 0.163);
  --primary-gradient: linear-gradient(90deg, hsla(276, 51%, 47%, 1) 0%, hsla(245, 79%, 57%, 1) 100%);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Manrope', 'Roboto', 'Oxygen', 'Cantarell', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-light);
}

a {
  text-decoration: none;
}

.container {
  padding: 0 10em;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5em;
}

.column{
  width: calc(50% - 3em);
}

.btn {
  font-weight: 500;
  background: var(--primary);
  color: #F3F4F7;
  padding: 7px 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  transition: all 0.8s;
  position: relative;
  border: none;
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.188);
  transition: all 0.3s;
}

.btn:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.188);
  transform: scale(1.2, 1.2);
}

.btn:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-secondary{
  background: transparent;
  color: var(--primary);
  box-shadow: none;
  padding: 0;
}

.highlight {
  position: relative;
  color: #292929;
}

.highlight::after {
  content: '';
  height: .25em;
  width: 100%;
  display: inline-block;
  background: var(--primary);
  opacity: .3;
  position: absolute;
  bottom: 3px;
  z-index: -1;
  left: -2px;
  transition: .3s;
}

.highlight:hover::after{
  height: .7em
}

.gradient-text{
  background-image: var(--primary-gradient);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.line-after{
  width: fit-content;
  margin-bottom: .5em;
}

.line-after::after{
  content: '';
  width: 30%;
  height: 4px;
  display: block;
  background: var(--primary-gradient);
  margin-top: .2em;
}

.light{
  font-weight: lighter;
}

@media screen and (max-width: 1200px) {
  .container{
      padding: 0 5em;
  }

  h2.code{
    font-size: 1.7em !important;
  }

  .navbar{
    padding: 1.5em 5em !important;
  }

  #about .column{
    font-size: 1.5em !important;
  }

  .navbar ul{
    right: 5em !important;
  }
}

@media screen and (max-width: 768px) {
  .container{
      padding: 0 4em;
  }

  .column, #about .text{
    width: 100% !important;
  }

  .navbar{
    padding: 1.5em 2em !important;
  }

  #about .column{
    font-size: 1.3em !important;
  }

  .navbar ul{
    right: 2em !important;
  }

  h2.code{
    font-size: 1.3em !important;
    left: initial !important;
    right: initial !important;
  }

  .row{
    flex-direction: column;
  }

  .row *{
    display: inline;
  }
}